.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    display: none;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.cart-purchase {
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 300px;
    height: 220px;
    right: 45px;
    color: var(--Dark-grayish-blue);
    top: 65px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.cart-purchase > h3 {
    padding: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-size: .95rem;
}
.cart-purchase > div {
    text-align: center;
    
    padding-top: 50px;
}
.cart-purchase > div > p {
    font-size: .8rem;
    font-weight: 700;
}


.cart-checkout {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -40px;
    text-align: left;
}
.cart-checkout > div {
    display: flex;
    align-items: center;
}
.cart-checkout img {
    width: 60px;
    border-radius: 10px;
}
.cart-checkout p {
    margin-left: 20px;
    font-size: .9rem;
    font-weight: 700;
}
.cart-checkout p .money {
    color: var(--Very-vark-blue);
}
.checkout-button {
    background-color: var(--Orange);
    margin-top: 20px;
    width: 100%;
    text-align: center;
    height: 45px;
    border-radius: 5px;
}
.checkout-button a {
    text-align: center;
    width: 100%;
    color: var(--Light-grayish-blue);
    font-weight: 700;
}
.checkout-button:hover {
    background-color: rgba(255, 125, 26, 0.8);
}
